

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



a{
    color: #0E46A3;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.car-list-section {
    text-align: center;
    padding: 20px;
}

.car-list-section h2 {
    font-size: 1.5rem;
    color: #555;
}

.car-list-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
}

.car-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-item {
    background-color: #fff;
    padding: 40px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.car-info h3 {
    color: #888;
    font-size: 1rem;
}

.car-info h2 {
    color: #333;
    font-size: 1.5rem;
    margin: 5px 0;
}

.details-link {
    color: #e53935;
    text-decoration: none;
    margin: 10px 0;
}

.details-link:hover {
    text-decoration: underline;
}

.rent-button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
}

.rent-button:hover {
    background-color: #3700b3;
}


/*Footer css start*/
